.header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_t {
    width: 10%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_btn {
    width: 3.5rem;
    height: 3.5rem;
}

.icon {
    width: 100%;
    height: 100%;
}

